<div class="signin">
    <div class="center">
        <h3>đăng ký</h3>
        <form action="/signup" method="POST">
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="passwork">Passwork</label>
                <input type="passwork" name="passwork" placeholder="Passwork">
            </div>
            <button type="submit">đăng ký</button>
        </form>
    </div>
</div>