* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: black; }

h3 {
  font-weight: 500; }

.header-container {
  height: 78px;
  background-color: #008044; }

.app {
  height: 78px; }

.header, .list_option-item, .footer {
  color: #fff; }

.header {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto; }

.logo {
  width: 200px; }

.list_option {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-left: 348px; }

.header-link__option {
  font-size: 16px; }

.footer-container {
  background-color: #008044;
  margin-top: 40px; }

.footer {
  width: 1200px;
  margin: 0 auto; }

.footer-option {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; }

.footer-list__fast, .footer-list__mortgage, .footer-list__pawn, .footer-list__introduce {
  list-style: none; }

.footer-list__fast__option, .footer-list__mortgage__option, .footer-list__pawn__option, .footer-list__introduce__option {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 10px; }

.footer-list__fast__option a, .footer-list__mortgage__option a, .footer-list__pawn__option a, .footer-list__introduce__option a {
  color: #fff; }

.footer-declare {
  padding: 12px;
  border-top: 1px solid #fff;
  text-align: center; }

.body-home {
  width: 1200px;
  margin: 0 auto; }

.body-home_head_describe {
  text-align: center;
  padding: 60px 0; }

.body-home_head_describe__title {
  font-size: 32px;
  padding: 20px 0;
  color: #181818; }

.body-home_head_option {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.body-home_head_option_item {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  text-align: center;
  cursor: pointer; }
  .body-home_head_option_item:hover {
    color: #009f54;
    text-decoration: underline; }

.body-home_head_option__svg {
  width: 60px;
  margin-bottom: 8px; }

.body-home_head_option__svg path {
  fill: #008044; }

.body-home_head_option__title {
  font-size: 16px; }

.body-home_body_text {
  margin-top: 20px;
  text-align: center; }

.loans-option_container {
  display: flex;
  flex-wrap: wrap; }

.loan-option {
  margin: 20px;
  width: 360px;
  height: 100%;
  padding: 18px;
  box-shadow: 0 0 10px #333;
  border-radius: 5px; }

.loan-option_overview-logo {
  width: 130px; }

.loan-option_overview-title {
  color: #181818;
  font-weight: 600;
  padding: 12px 0; }

.loan-option_overview-icon {
  width: 14px;
  margin-right: 4px; }
  .loan-option_overview-icon path {
    fill: red; }

.loan-option_overview-container {
  display: flex;
  color: red;
  align-items: baseline; }

.loan-option_overview-interest-rate {
  display: flex;
  justify-content: space-evenly;
  margin: 12px 0; }

.loan-option_overview-interest-rate_sub {
  border-right: 1px solid #333; }

.body-home_loan-option_amount-loan_text {
  font-size: 18px;
  color: #181818; }

.body-home_loan-option_amount-loan_number {
  font-size: 42px;
  font-weight: 600;
  color: #008044; }

.body-home_loan-option_amount-loan_container {
  text-align: center; }

.body-home_loan-option_condition-list {
  list-style-type: none; }

.body-home_loan-option_condition-item {
  display: inline-flex;
  justify-content: flex-start;
  margin: 6px 0;
  align-items: flex-start; }

.body-home_loan-option_condition-img {
  width: 16px; }

.body-home_loan-option_condition-text {
  margin-left: 6px; }

.loan-option_btn {
  padding: 8px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  background-color: #008044;
  border-radius: 5px;
  cursor: pointer; }
  .loan-option_btn:hover {
    background-color: #009f54; }

.see-more {
  display: block;
  padding: 10px 0;
  color: #008044; }
  .see-more:hover {
    text-decoration: revert; }

.body-home_question {
  margin: 20px 0; }

.all-loans {
  text-align: center;
  margin: 20px 0; }

.all-loans_button {
  color: #008044;
  font-weight: 600; }
  .all-loans_button:hover {
    text-decoration: underline; }

.loan-question {
  margin-top: 26px; }

.loan-question_title {
  font-size: 28px; }

.body-home_question-title {
  color: #181818;
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0; }

.container-unsecured {
  width: 1200px;
  margin: 0 auto; }
