<div class="footer">
    <div class="footer-option">
        <ul class="footer-list__fast">
            <li class="footer-list__fast__option-title"><h2 class="footer-list__fast-title">Vay Tiền Nhanh</h2></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Oncredit</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Moneycat</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Doctor Đồng</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Tamo</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Senmo</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh MoneyVeo</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh ATM Online</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Cashwagon</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Cash24</a></li>
            <li class="footer-list__fast__option"><a href="#">Vay tiền nhanh Robocash</a></li>
        </ul>
        <ul class="footer-list__mortgage">
            <li class="footer-list__mortgage__option-title"><h2 class="footer-list__mortgage-title">Vay Tín Chấp</h2></li>
            <li class="footer-list__mortgage__option"><a href="#">Vay tín chấp Avay</a></li>
            <li class="footer-list__mortgage__option"><a href="#">Vay tín chấp MCredit</a></li>
            <li class="footer-list__mortgage__option"><a href="#">Vay tín chấp EasyCredit</a></li>
            <li class="footer-list__mortgage__option"><a href="#">Vay tín chấp OCB</a></li>
            <li class="footer-list__mortgage__option"><a href="#">Vay tín chấp Shinhan Finance</a></li>
            <li class="footer-list__mortgage__option"><a href="#">Vay tín chấp VietCredit</a></li>
        </ul>
        <ul class="footer-list__pawn">
            <li class="footer-list__pawn__option-title"><h2 class="footer-list__pawn-title">Cầm đồ Online</h2></li>
            <li class="footer-list__pawn__option"><a href="#">Cầm đồ F88</a></li>
            <li class="footer-list__pawn__option"><a href="#">Cầm cavet xe máy Tima</a></li>
            <li class="footer-list__pawn__option"><a href="#">Cầm cavet ô tô Tima</a></li>
            <li class="footer-list__pawn__option"><a href="#">Cầm Đồ Dong Shop Sun</a></li>
            <li class="footer-list__pawn__option"><a href="#">Cầm Đồ TienNgay.vn</a></li>
        </ul>
        <ul class="footer-list__introduce">
            <li class="footer-list__introduce__option-title"><h2 class="footer-list__introduce-title">Về chúng tôi</h2></li>
            <li class="footer-list__introduce__option"><a href="#">Giới thiệu</a></li>
            <li class="footer-list__introduce__option"><a href="#">Điều khoản sử dụng</a></li>
            <li class="footer-list__introduce__option"><a href="#">Chính sách bảo mật</a></li>
            <li class="footer-list__introduce__option"><a href="#">Facebook</a></li>
            <li class="footer-list__introduce__option"><a href="#">Email</a></li>
        </ul>
    </div>
    <div class="footer-declare">
        <p class="footer-declare__text">
            <p class="footer-declare__text__title">Tuyên Bố Miễn Trừ Trách Nhiệm</p>
            VaySieuNhanh.VN (vaysieunhanh) là website so sánh, đánh giá các sản phẩm dịch vụ vay tiền online giúp khách hàng giải quyết các vấn đề tài chính.
            Vaysieunhanh.vn là Blog chia sẽ kiến thức tài chính và gợi ý các đơn vị vay vốn uy tín, Website này không phải ngân hàng, công ty tài chính, bảo hiểm nhân thọ hay bất kỳ tổ chức nào và cũng KHÔNG cung cấp bất cứ khoản vay nào. Chúng tôi hoạt động PHI LỢI NHUẬN, không thu bất kỳ chi phí nào. Mọi thông tin chỉ mang tính chất tham khảo, khách hàng vui lòng liên hệ trực tiếp tổ chức đang hỗ trợ dịch vụ để biết được tư vấn.
            Vaysieunhanh.vn chỉ gợi ý khách hàng sử dụng các dịch vụ hợp pháp và được cấp phép hoạt động tại Việt Nam. Mọi vấn đề liên quan đến giao dịch khách hàng phải đọc kỹ hợp đồng và hoàn toàn tự chịu trách nhiệm.
            Mọi lựa chọn về khoản vay, thời gian thanh toán đều thuộc về trách nhiệm của bạn và chúng tôi sẽ không chịu bất cứ trách nhiệm nào khi có phát sinh vấn đề giữa bạn và các tổ chức cho vay. Mọi thông tin chỉ mang tính chất tham khảo!
        </p>
    </div>
</div>