<div class="header">
    <a href="#">
        <img class="logo" src="/img/vaytienonline-logo.png" alt="logo website vay tiền nhanh">
    </a>
    <div class="list_option">
        <h2 class="header-link__option">
            <a href="#" class="list_option-item">Trang chủ</a>
        </h2>
        <h2 class="header-link__option">
            <a href="#" class="list_option-item">Vay tiền Online</a>
        </h2>
        <h2 class="header-link__option">
            <a href="#" class="list_option-item">Vay tín chấp</a>
        </h2>
        <h2 class="header-link__option">
            <a href="#" class="list_option-item">Cầm đồ online</a>
        </h2>
        <h2 class="header-link__option">
            <a href="#" class="list_option-item">Khoản vay</a>
        </h2>
        <h2 class="header-link__option">
            <a href="#" class="list_option-item">Blog vay tiền</a>
        </h2>
    </div>
</div>