<div class="mortgage-loan">
    <div>
        <h1>Vay thế chấp là gì?</h1>
        <p>vay thế chấp là hình thức cho vay mà người vay sử dụng một tài sản đang có như: ô tô, nhà đất, sổ tiết kiệm,... 
            Quyền sử dụng tài sản vẫn còn với người đi vay và
            được ngân hàng giữ lại, nếu người vay không thể trả được nợ cho ngân hàng thì tài sản
            thế chấp sẽ được chuyển quyền sở hữu cho ngân hàng để thanh lý trừ nợ. </br>
            Vay thế chấp thường áp dụng với khoản vay lớn do có tài sản đảm bảo, lãi suất cho vay thấp hơn so với vay tín chấp.</br>
            Các khoản vay dành cho doanh nghiệp thường áp dụng hình thức vay thế chấp với tài sản đảm bảo là máy móc thiết bị, bất động sản. Các tài sản thường thế chấp là bất động sản như đất đai, nhà ở hoặc ô tô.</br>

            Khoản vay thế chấp thường áp dụng cho vay mua nhà thế chấp bằng chính nhà mua, vay mua xe thế chấp bằng xe mua, vay sản xuất kinh doanh thế chấp bằng bất động sản.</br>

            Vay vốn thế chấp bất động sản là việc mang tài sản của mình đi thế cho ngân hàng. Và được NH hỗ trợ một số vốn với hạn mức tương đương từ 70% đến 95% giá trị tài sản thực tế. Trong đó tài sản mà khách hàng mang thế chấp có thể là đất đai, nhà ở, xí nghiệp, công trình, tài sản gắn liền với đất. BĐS bao gồm đất đai và những gì liên quan dính liền không tách rời với đất.</br>
    </div>
    <div>dưới đây chúng tôi đề xuất các khoản vay thế chấp uy tín nhất hiện nay</div>
    
</div>