<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vay tiền online</title>
        <link type="text/css" rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <div class="app">
            
            <header class="header-container">
                {{> header}}
            </header>

            <div class="body-container">
                {{{body}}}
            </div>

            <footer class="footer-container">
                {{> footer}}
            </footer>

        </div>
    </body>
</html>